<div class="container">
    <div class="alert alert-primary mt-4" role="alert">
    A simple warning alert—check it out!
    </div>
    <div class="input-group mb-2">
        <input class="form-control" [(ngModel)]="currentTaskName" type="text" placeholder="New task here...">
        <button class="btn btn-dark" (click)="addTodoItem()">Add Task</button>
    </div>
    <ul class="list-group">
        <li *ngFor="let todoItem of todoItems" class="list-group-item">
            <app-todo-item [removeTodoItem]="removeTodoItem" [todoItem]="todoItem"></app-todo-item>
        </li>    
    </ul>
</div>